In [1]:
import pandas as pd, dataprep as dp

In [2]:
data = pd.read_csv("/Users/florian/Documents/github/study/IoT/IoT/main/output.csv")

a0 = ["hka-aqm-a017", "hka-aqm-a014"]
a1 = ["hka-aqm-a101", "hka-aqm-a102", "hka-aqm-a103", "hka-aqm-a106", "hka-aqm-a107", "hka-aqm-a108", "hka-aqm-a111", "hka-aqm-a112"]
data = data[data["device_id"].isin(a0 + a1)]  
data["device_id"] = data["device_id"].str.replace("hka-aqm-", "")

In [3]:
aggregation = "h"

df = dp.group_data(data, aggregation)
df["hour"] = df["date_time"].dt.hour
df["day"] = df["date_time"].dt.date
df['week'] = df['date_time'].dt.to_period('W').apply(lambda r: r.start_time)
df['month'] = df['date_time'].dt.to_period('M').apply(lambda r: r.start_time)
df["year"] = df["date_time"].dt.year

In [4]:
def prep_eval_data(filename: str="aggregated_hourly.csv", device_ids: list=[], columns: list= ["tmp", "hum", "CO2", "VOC"]):
    """
    args:   filename: csv file to read data from
            device_ids: list of device ids to filter data
            columns: columns to select from the data

    returns: dictionary of dataframes
    """
    df = pd.read_csv(filename)
    df.date_time = pd.to_datetime(df.date_time)
    prep_dev_df = {device_id: df[df["device_id"] == device_id][columns+["date_time"]].reset_index(drop= True) for device_id in device_ids}
    return prep_dev_df

In [5]:
df = prep_eval_data(device_ids= a1)
df = df["hka-aqm-a107"]
df

          tmp        hum   CO2   VOC           date_time
0     24.9080  52.316000  1128   450 2022-09-05 12:00:00
1     24.3400  52.913333  1240   468 2022-09-05 13:00:00
2     24.9800  52.080000   806   581 2022-09-05 14:00:00
3     23.8300  47.106667   346   500 2022-10-10 14:00:00
4     24.8760  42.524000   346   525 2022-10-10 15:00:00
...       ...        ...   ...   ...                 ...
5125  25.0300  49.440000   481  1404 2023-09-29 23:00:00
5126  26.1325  46.380000   457  1143 2023-09-30 14:00:00
5127  26.1500  41.100000   461   707 2023-10-01 15:00:00
5128  26.0400  41.360000   463   696 2023-10-01 16:00:00
5129  25.6200  41.980000   449   798 2023-10-01 18:00:00

[5130 rows x 5 columns]

In [6]:
from foo import evaluate_model_new, evaluate_model


df_pred1 = evaluate_model(model="transformer", window_size= 100, columns= ["tmp", "hum", "CO2", "VOC"], device_id= "hka-aqm-a107")
df_pred = evaluate_model_new(model="transformer", df=df, window_size= 100, columns= ["tmp", "hum", "CO2", "VOC"])

In [7]:
df_pred

            tmp        hum    CO2    VOC            date_time
0        24.908     52.316   1128    450  2022-09-05 12:00:00
1         24.34  52.913333   1240    468  2022-09-05 13:00:00
2         24.98      52.08    806    581  2022-09-05 14:00:00
3         23.83  47.106667    346    500  2022-10-10 14:00:00
4        24.876     42.524    346    525  2022-10-10 15:00:00
...         ...        ...    ...    ...                  ...
9386  22.668373      52.08  806.0  581.0  2023-10-01 11:00:00
9387  22.668375      52.08  806.0  581.0  2023-10-01 12:00:00
9388  22.668373      52.08  806.0  581.0  2023-10-01 13:00:00
9389  22.668373      52.08  806.0  581.0  2023-10-01 14:00:00
9390  22.668373      52.08  806.0  581.0  2023-10-01 17:00:00

[9391 rows x 5 columns]

In [8]:
df_pred1

            tmp        hum    CO2    VOC            date_time
0        24.908     52.316   1128    450  2022-09-05 12:00:00
1         24.34  52.913333   1240    468  2022-09-05 13:00:00
2         24.98      52.08    806    581  2022-09-05 14:00:00
3         23.83  47.106667    346    500  2022-10-10 14:00:00
4        24.876     42.524    346    525  2022-10-10 15:00:00
...         ...        ...    ...    ...                  ...
9386  22.668373      52.08  806.0  581.0  2023-10-01 11:00:00
9387  22.668375      52.08  806.0  581.0  2023-10-01 12:00:00
9388  22.668373      52.08  806.0  581.0  2023-10-01 13:00:00
9389  22.668373      52.08  806.0  581.0  2023-10-01 14:00:00
9390  22.668373      52.08  806.0  581.0  2023-10-01 17:00:00

[9391 rows x 5 columns]